body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
li,
h3, h4 {
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #2e3135;
}

li span:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

ul li {
  list-style: none;
}

:global(.title) {
  padding-top: 15px;
  padding-bottom: 8px;
}

:global(.link) {
  padding-bottom: 5px;
}